
.featured{
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 5%;
  text-align: center;
}

.featured h1{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 60px;
}

.featured-grid{
  display: flex;
  justify-content: center;
  gap: 20px;

}

.featured-card h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.featured-card span {
  margin-left: 16px;
  font-weight: 600;
}