

/* conteúdo */
.hero-content {
  position: relative;
  z-index: 2;

  max-width: 100%;
  padding: 140px 80px;
  color: #fff;
}

.hero-subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #d4af37;
}

.hero h1 {
  font-size: 74px;
  line-height: 1.2;
  margin: 20px 0 30px;
  font-weight: 300;
  
}

/* botões */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #c75b2b;
  color: #fff;
  border: none;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #a94720;
}

.btn-secondary {
  background: transparent;
  border: none;
  color: #d4af37;
  font-size: 14px;
  cursor: pointer;
}