


#root{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sansita Swashed", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

